---
layout: custom
title: Contributing to Kovri
permalink: contributing
---

<div class="contributing">
<div class="center-xs container description">
<h1>{% t contributing.title %}</h1>
</div>

<section class="container" id="terms">
    <div class="row">      
        <div class="full col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="info-block text-adapt">
                <div class="row center-xs">
                    <div class="col">
                        <h2>{% t contributing.code %}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{% t contributing.code_para1 %} <a href="https://gitlab.com/kovri-project/kovri/#contact-and-support">{% t contributing.code_para2 %}</a> {% t contributing.code_para3 %}
                            <ul>
                                <li>{% t contributing.code_list1 %}</li>
                                <li>{% t contributing.code_list2 %}</li>
                                <li>{% t contributing.code_list3 %}</li>
                                <li>{% t contributing.code_list4 %}</li>
                                    <ul>
                                        <li>AES</li>
                                        <li>Diffie-Hellman</li>
                                        <li>ElGamal</li>
                                        <li>SHA family</li>
                                        <li>HMAC</li>
                                        <li>RSA</li>
                                        <li>Ed25519 (TweetNaCl)</li>
                                    </ul>   
                                <li>{% t contributing.code_list5 %} <a href="https://cryptopp.com/">Crypto++</a></li>
                                <li>{% t contributing.code_list6a %} (<a href="https://build.getmonero.org/waterfall">{% t contributing.code_list6b %}</a>)</li>
                                <li>{% t contributing.code_list7 %}</li>
                                <li>{% t contributing.code_list8 %}</li>
                                <li>{% t contributing.code_list9 %}</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container" id="copyright">
    <div class="row">      
        <div class="full col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="info-block text-adapt">
                <div class="row center-xs">
                    <div class="col">
                        <h2>{% t contributing.vision %}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{% t contributing.vision_para1 %} <a href="https://gitlab.com/kovri-project/kovri/#contact-and-support">{% t contributing.vision_para2 %}</a> {% t contributing.vision_para3 %}</p>
                        <p>{% t contributing.vision_para4 %} <a href="https://getmonero.org/get-started/contributing/">{% t contributing.vision_para5 %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>